# Calculator with Unit Tests

## Overview

This simple yet powerful Calculator project offers basic arithmetic operations like addition, subtraction, multiplication, and division along with advanced functionalities including square root calculation and access to the mathematical constant π (pi). It aims to demonstrate not only the implementation of these functionalities but also how to ensure their correctness through comprehensive unit testing.

## Features

- **Basic Arithmetic Operations**: Add, Subtract, Multiply, Divide
- **Advanced Mathematical Functions**: Calculate the Square Root and Access π (Pi) Value
- **Comprehensive Unit Testing**: Ensure the reliability and accuracy of calculator functions
